# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/Packages

# Credentials
.netrc

# SwiftLint / swift-format
.swiftlint/RemoteConfigCache
.swift-format
